<ion-content class="ion-padding">
  <ion-grid class="ion-text-center">

    <!-- Logo -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="8" size-md="6">
        <ion-card class="logo-card">
          <ion-img [src]="'./assets/img/login2.png'" alt="Logo"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Texto de Bienvenida -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <ion-text color="dark">
          <h2 class="welcome-text">Bienvenido</h2>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- Formulario de inicio de sesión -->
    <form [formGroup]="formulario" (submit)="validarFormulario()">

      <!-- Campo de Usuario -->
      <ion-row>
        <ion-col size="12" size-md="8" offset-md="2">
          <ion-item class="input-item">
            <ion-label position="floating">Usuario</ion-label>
            <ion-input formControlName="usuario" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Campo de Contraseña -->
      <ion-row>
        <ion-col size="12" size-md="8" offset-md="2">
          <ion-item class="input-item">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="contrasenia" type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Recuérdame -->
      <ion-row>
        <ion-col size="12" size-md="8" offset-md="2">
          <ion-item lines="none" class="remember-me">
            <ion-label>Recuérdame</ion-label>
            <ion-toggle [checked]="true" color="primary"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Botón de Inicio de Sesión -->
      <ion-row>
        <ion-col size="12" size-md="8" offset-md="2">
          <ion-button expand="block" type="submit" [disabled]="cargando_bloqueo" color="primary">
            <ion-text *ngIf="!cargando_bloqueo">Iniciar sesión</ion-text>
            <ion-spinner *ngIf="cargando_bloqueo" name="circular"></ion-spinner>
          </ion-button>
        </ion-col>
      </ion-row>

    </form>

  </ion-grid>
</ion-content>
